body {
  background-color: rgb(190, 190, 190);
}

#header {
  background-color: #656565;
  /* margin: 40px; */
  padding: 20px;
}

/* h1, h2, h3, h4 {
  color: red;
} */

#main-title {
  font-size: 60px;
}

#main {
  background-color: white;
  width: 80%;

  /* margin: 50px; */
  margin:  20px auto;
  /* margin: 0px 50px 600px 250px; */
}

.links {
  font-size: 22px;
}

#footer {
  background-color: rgb(144, 144, 144);
}
